div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    font-size: x-large;
    border: 2px solid salmon;
}

body{
    display: flex;
    margin: 0;
    width: 80vw;
    height: 80vh;
    border: 2px solid green;
    justify-content: space-evenly;
    /* space around, space between, space evenly.  justify content works in horizontal direction */

    /* align-items: center; it works in vertical direction */

}

/* .two{
    align-self: center;
} */